<section class="bg-primary-400/60 text-white">
  <div class="max-w-7xl mx-auto px-6 py-16 text-center">
    <h2 class="text-3xl font-bold">¿Quieres conocer nuestro jardín?</h2>

    <p class="mt-4">
          Agenda una visita y descubre un espacio pensado para el bienestar y aprendizaje de tu hijo.
    </p>

    <a
      href="/contacto"
      class="inline-block mt-8 rounded-3xl bg-white px-8 py-3 font-semibold text-secondary hover:bg-slate-100 transition text-primary"
    >
      Agendar visita
    </a>
  </div>
</section>
