---
interface Props {
    title: string;
    subtitle: string;
    image_desktop: string;
    image_mobile?: string;
}

const { image_desktop, image_mobile } = Astro.props;
---

<!-- HERO -->
<main class="relative w-full h-screen md:h-[calc(100vh-5rem)] flex items-end">

  <!-- Background -->
  <div class="absolute inset-0 -z-10">
    <picture>
      {image_mobile && (
        <source media="(max-width: 768px)" srcset={image_mobile} />
      )}
      <img
        src={image_desktop}
        alt="Hero imagen"
        class="w-full h-full object-cover object-[50%_10%]"
      />
    </picture>
  </div>

  <!-- Content -->
  <div class="max-w-7xl mx-auto px-6 pb-16 md:pb-24 w-full">
    <!-- tu contenido -->
  </div>

</main>