---
import Paperclip from "../commons/Paperclip.astro";

interface Props {
  calificacion: number;
  comentario: string;
  nombre: string;
  titulo: string;
  index: number;
}

const { calificacion, comentario, nombre, titulo, index } = Astro.props;

let calificacionVisual = "";
for (let i = 0; i <= calificacion; i++) {
  calificacionVisual += "★";
}
---

<!-- Repite con variaciones -->
<div class="relative group">
  <!-- Clip -->
  <Paperclip index={index % 4} />

  <div
    class={`bg-white rounded-2xl p-8 pt-12 shadow-md group-hover:shadow-xl transition ${index % 2 === 0 ? "rotate-[-5deg]" : "rotate-[5deg]"}`}
  >
    <div class="flex justify-center text-accent-yellow">
      {calificacionVisual}
    </div>

    <p class="mt-4 text-sm text-text/80 italic">
      {comentario}
    </p>

  </div>
</div>
