---
import Ubicacion from "../components/pages/contacto/ubicacion.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="DiverSer | Contacto"
  description="Conoce cómo hacer parte de DiverSer. Contáctanos para resolver tus dudas, agendar una visita y acompañar el proceso educativo de tu hijo."
>
  <section class="bg-white">
    <div class="max-w-7xl mx-auto px-6 py-20 grid gap-12 lg:grid-cols-2">
      <!-- Formulario -->
      <div class="rounded-2xl border p-8 shadow-sm">
        <h2 class="text-2xl font-bold text-slate-900">
          ¿Quieres saber mas de nosotros?
        </h2>

        <p class="mt-2 text-primary-600 text-sm">
          Llena los datos y te contactaremos tan pronto sea posible.
        </p>

        <form
          class="mt-8 space-y-5"
          action="https://formsubmit.co/diverser21@gmail.com"
          method="POST"
        >
          <div>
            <label class="block text-sm font-medium text-slate-700">
              Nombre completo
            </label>
            <input
              name="nombre"
              type="text"
              class="mt-1 w-full rounded-xl border px-4 py-3 text-sm focus:outline-none focus:ring-2 focus:ring-primary-400"
              placeholder="Ingrese su nombre"
            />
          </div>

          <div class="grid gap-4 md:grid-cols-2">
            <div>
              <label class="block text-sm font-medium text-slate-700">
                Teléfono
              </label>
              <input
                name="telefono"
                type="tel"
                class="mt-1 w-full rounded-xl border px-4 py-3 text-sm focus:outline-none focus:ring-2 focus:ring-primary-400"
                placeholder="Número de contacto"
              />
            </div>

            <div>
              <label class="block text-sm font-medium text-slate-700">
                Correo electrónico
              </label>
              <input
                name="correo"
                type="email"
                class="mt-1 w-full rounded-xl border px-4 py-3 text-sm focus:outline-none focus:ring-2 focus:ring-primary-400"
                placeholder="correo@empresa.com"
              />
            </div>
          </div>

          <div>
            <label class="block text-sm font-medium text-slate-700">
              Tipo de consulta
            </label>
            <select
              name="servicio"
              class="mt-1 w-full rounded-xl border px-4 py-3 text-sm focus:outline-none focus:ring-2 focus:ring-primary-400"
            >
              <option>Seleccione una opción</option>
              <option>Información sobre programas</option>
              <option>Proceso de admisión</option>
              <option>Agendar visita</option>
              <option>Actividades extracurriculares</option>
              <option>Acompañamiento terapéutico</option>
              <option>Otro</option>
            </select>
          </div>

          <div>
            <label class="block text-sm font-medium text-slate-700">
              Mensaje
            </label>
            <textarea
              name="mensaje"
              rows="4"
              class="mt-1 w-full rounded-xl border px-4 py-3 text-sm focus:outline-none focus:ring-2 focus:ring-primary-400"
              placeholder="Cuéntenos brevemente su necesidad"></textarea>
          </div>

          <input type="hidden" name="_captcha" value="false" />
          <!-- <input type="hidden" name="_template" value="table" /> -->
          <input
            type="hidden"
            name="_next"
            value="http://localhost:4321/gracias"
          />
          <input type="hidden" name="_honey" style="display:none" />
          <input
            type="hidden"
            name="_subject"
            value="Nuevo contacto desde el sitio web Diverser"
          />

          <button
            type="submit"
            class="w-full rounded-3xl bg-primary py-3 font-semibold text-white hover:bg-primary-400 transition"
          >
            Enviar solicitud
          </button>

          <p class="text-xs text-slate-500 text-center">
            * No compartimos su información con terceros.
          </p>
        </form>
      </div>

      <!-- Información de contacto -->
      <div>
        <h2 class="text-2xl font-bold text-slate-900">
          Información de contacto
        </h2>

        <ul class="mt-6 space-y-4 text-slate-600 text-sm">
          <li>
            📍 <strong>Direccion:</strong><br />
            Diagonal 8 #30-56<br />
            Barrio Blanco – Girardot, Cundinamarca
          </li>

          <li>
            📱 <strong>Móvil:</strong><br />
            310 3303561
          </li>
          <li>
            ✉️ <strong>Correo:</strong><br />
            diverser21@gmail.com
          </li>

          <li>
            🕒 <strong>Horario:</strong><br />
            <p>Jornada preescolar: 7:30 AM – 12:00 PM</p>
            <p>
              Actividades complementarias: 2:00 PM – 5:00 PM (Centro de apoyo
              Integral)
            </p>
          </li>
        </ul>

        <!-- Legal -->
        <div
          id="map-container"
          class="mt-10 rounded-xl bg-slate-50 p-6 border h-60"
          onclick="openMap()"
        >
          <Ubicacion />
        </div>
      </div>
    </div>
  </section>
  <script>
    const mapaDiv = document.getElementById("map-container");
    if (mapaDiv) {
      mapaDiv.style.cursor = "pointer";
      mapaDiv.title = "Haga clic para abrir en Google Maps";
      mapaDiv.onclick = function () {
        window.open("https://maps.app.goo.gl/8thVmYcQDsvcPpaR6", "_blank");
      };
    }
  </script>
</BaseLayout>
